.swapcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border: 0px solid #323232;
}

.boxs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.7);
}


.boxs > div {
  margin: 2px;
  flex: 2; /* Allow each item to take the full available width */
}

.swappanel {
  background-color: #01000f;
  padding: 23px;
  border-radius: 30px;
  width: 30%;
  box-shadow: 0 0px 25px 0 rgb(91,39,236);
  overflow: auto;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:2px solid rgba(255, 255, 255, 0.18);
}

.swapheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swapheader button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.swapsection {
  background-color: #151515 !important;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #323232;
}

.swapsection label {
  display: block;
  color: rgb(190, 190, 190);
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 10px;
}

.coinmodal {
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1ed1;
  padding:  15px 20px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coinmodal p {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.listbtn {
  background-color: #33333300;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  font-size: 20px;
}

.listbtn:hover {
  background-color: #333333;
}

.iconbtn {
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex; /* Use Flexbox to make the contents appear on the same line */
  align-items: center; /* Center vertically */
  font-size: 30px;
  background-color: #ff0000;
}

.iconbtn p {
  margin-right: 10px; 
   background-color: #424242;
   padding: 5px;
   border-radius: 20px;
}

.iconbtn:hover {
  background-color: #5a5a5a00;
}
.coinmodal input {
  background-color: transparent;
  color: aliceblue;
  border-radius: 5px;
  font-size: 15px;
  width: 40vh;
  height: 4vh;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #2b242b;
  outline: none; /* Add this line to remove the outline */
}

.coinmodal input:focus {
  border: 2px solid #333333;;
}


.closebutton {
  position: absolute;
  top: 25px;
  right: 14px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
}

.swapButton {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  background: linear-gradient(13deg, rgba(91,39,236,0.8435968137254902) 0%, rgba(185,32,169,0.4710477941176471) 100%);
  color: rgb(255, 255, 255);
  border: 0px solid #19b1cc00;
  box-shadow: 0 0px 10px 0 #663566;
}

.swapButton:hover {
  border: 0px solid #19b1cc00;
  box-shadow: 0 0px 15px 0 #7b3f7b;
  transition: 0.3s;
}

.swapButtonDisb {
    display: block;
  width: 100%;
  padding: 15px 10px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  background: linear-gradient(13deg, rgba(91,39,236,0.8435968137254902) 0%, rgba(185,32,169,0.4710477941176471) 100%);
  color: rgb(255, 255, 255);
  border: 0px solid #19b1cc00;
  box-shadow: 0 0px 15px 0 #663566;
  Opacity:0.8;
  cursor:not-allowed;
}

.swapButtonDisb:hover {
  border: 0px solid #19b1cc00;
  box-shadow: 0 0px 10px 0 #7b3f7b;
  transition: 0.3s;
}

.receiveinput button{
  align-items: center; 
  display: inline;
  width: 22%;
  padding: 10px 20px;
  border: 1px solid #323232;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #01000f;
}

.receiveinput input {
  width: 68%;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  border: 0px;
  background-color: #00000000;
  display:inline;
  font-size: 5vh;
}

.receiveinput input:focus {
  border: 0px solid #444;
  outline: none;
  background-color: #2a2a2a00;
}

.receiveinput input::-webkit-outer-spin-button,
.receiveinput input::-webkit-inner-spin-button {
        display: none;
}


.payinput button{
  align-items: center; 
  display: inline;
  width: 22%;
  padding: 10px 20px;
  border: 1px solid #323232;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #01000f;
}

.payinput input {
  display: inline;
  width: 67%;
  margin-right: 20px;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  color: white;
  background-color: #2a2a2a00;
  display:inline;
  font-size: 5vh;
}

.payinput input:focus {
  border: 0px solid #444;
  outline: none;
  background-color: #2a2a2a00;
}

.payinput input::-webkit-outer-spin-button,
.payinput input::-webkit-inner-spin-button {
        display: none;
}

.ExButton {
  background: #323232;
  border: 2px;
  border-radius: 100%;
  padding: 12px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 48.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  opacity: 100%;
}

.ExButton:hover {
  background: linear-gradient(13deg, rgba(91, 39, 236, 0.92) 0%, rgba(185, 32, 169, 0.57) 100%);
}

.ExButton::before {
  content: "";
  display: block;
  height: 0;
  width: 50%;
}


.ExButton::after {
  content: "";
  display: block;
  width: 0;
  height: 50%;
}


@media (max-width: 1366px) {
  .swappanel {
    width: 80%; /* Adjust the width as needed */
  }

  .coinmodal {
    width: 80%; /* Adjust the width as needed */
    height: auto; /* Let it adjust its height as content increases */
  }
  
  .coinmodal input {
    width: 100%; /* Take the full width of the container */
  }
}

/* Styles for screens larger than 14 inches (adjust the min-width as needed) */
@media (min-width: 1367px) {
  .swappanel {
    width: 33%; /* Adjust the width as needed */
  }

  .coinmodal {
    width: 50vh;
    height: 50vh;
  }
  
  .coinmodal input {
    width: 40vh;
  }

  .ExButton {
    top:50%;
  }
}

.heading {
    cursor:default !important;
    font-size: 20px!important;
}

.settingsDropdown {
  position: absolute;
  width: 50vh;
  height: 35vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131313;
  font-weight: 500;
  padding:  15px 20px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  border: 2px solid rgb(33,33,33);
}

.settingsDropdown p {
  color: white;
  font-weight: 500;
  font-size: 15px;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: column; /* Stack sections on top of each other */
  align-items: center; /* Center sections horizontally */
}

.section {
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Add some space between labels and inputs */
}

.leftLabel {
  text-align: left;
  flex: 1;
}

.rightLabel {
  text-align: right;
  flex: 1;
}

.inputField {
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputField {
  flex: 1;
  direction: rtl;
  border: 2px solid rgb(33,33,33);
  outline: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #131313;
  color: white;
  font-weight: 500;
  appearance: textfield; /* Disable increment and decrement arrows */
  padding-right: 30px; /* Add space for the text on the right */
  width: calc(100% - 30px); /* Decrease the input width */
}

.inputText {
  padding: 10px;
  pointer-events: none;
  background: transparent;
  user-select: none;
  color: white;
}



.inputContainer input::-webkit-inner-spin-button, 
.inputContainer input::-webkit-outer-spin-button { 
        display: none;
}
