.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 40vh;
}
.header{
  font-size: large;
  color: aliceblue;
  padding-left: 30px;
  text-align: center;
}


.tokensContainer {
    color: #fff;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    padding-left: 10px;  
    padding-right: 10px; 
    border-radius: 10px;
    max-width: 90%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tokenRow {
    display: flex;
    padding: 10px 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    transition: background 0.3s; 
    width: 100%;
    justify-content: space-between;
    
  }
  .tokenRow:hover {
    background: rgba(255, 255, 255, 0.05);  /* Lightened the hover effect */
}
  
  .tokenRow > div {
    padding-right: 100px;
    text-align: center;
    flex: 1;
    padding: 0 px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .positive {
    color: #00cc66;
  }

  .sortToggle {
    cursor: pointer; 
    margin-left: 8px; 
    border-radius: 9px;
    position: relative;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: px;
    width: 30%;
}
.dropdown, .searchBar {
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
  background-color: #2c2c2c;
  margin: 0 10px;
}
  
  .searchBar {
    flex-grow: 1;
  }

  .loading{
    text-align: center;
    text-size-adjust: 30px;
  }